<div class="question" data-aos="fade-up">
    <h2>{{ questionTitle }}</h2>
    <p>N’hésitez pas à me contacter pour plus d’informations.</p>
    <a href="{{ url }}" class="btn btn-primary">Contactez-moi !</a>
</div>