{% extends 'app/pages/actualites/template.html.twig' %}

{% block title %}Actualités {{ parent() }}{% endblock %}

{% block main_content %}
    <div class="title-page-nostyle title-page">
        <div class="title-page-content">
            <h1>Actualités</h1>
            <p class="subtitle">
                Découvrez de nouveaux contenus chaque semaine, ces articles sauront mettre en
                lumière différents sujets comme orientation, performance, confiance, prise de parole...
                N’hésitez pas à échanger avec moi !
            </p>
        </div>
    </div>
    <div class="title-page-wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60">
            <path fill="#E7EDF1" fill-opacity="1" d="M0,0L120,10.7C240,21,480,43,720,42.7C960,43,1200,21,1320,10.7L1440,0L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path>
        </svg>
    </div>
    <div class="main-content">
        <div id="actualites"></div>
    </div>
{% endblock %}