{% extends 'app/pages/security/template.html.twig' %}

{% block title %}Connexion à son espace {{ parent() }}{% endblock %}

{% block main_content %}
    <div class="title-page-nostyle title-page">
        <div class="title-page-content">
            <h1>Se connecter à mon espace</h1>
        </div>
    </div>
    <div class="title-page-wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60">
            <path fill="#E7EDF1" fill-opacity="1" d="M0,0L120,10.7C240,21,480,43,720,42.7C960,43,1200,21,1320,10.7L1440,0L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path>
        </svg>
    </div>
    <div class="main-content">

        <form method="post" class="form-login">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

           <div class="line">
               <label for="inputUsername">Nom utilisateur</label>
               <input type="text" value="{{ last_username }}" name="username" id="inputUsername" required autofocus>
           </div>
            <div class="line">
                <label for="inputPassword">Mot de passe</label>
                <div class="see-password">
                    <input type="password" name="password" id="inputPassword" required>
                    <span class="icon-vision btn-see-password"></span>
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="line">
                <div id="forget"></div>
            </div>

            <div class="form-button">
                <button class="btn btn-primary" type="submit">
                    Se connecter
                </button>
            </div>
        </form>
    </div>
{% endblock %}