@import "../../../common/css/vars/vars";

@mixin fontRegular() { font-family: 'hkGroteskregular', sans-serif; }
@mixin fontSemibold() { font-family: 'hkGrotesksemibold', sans-serif; }
@mixin fontBold() { font-family: 'hkGroteskbold', sans-serif; }
@mixin fontSignature() { font-family: 'apaluregular', sans-serif; }