@import "../vars/vars";

.custom-shape-divider{
  .title-page .title{
    color: var(--alpha);
  }
}


h1{
  font-size: 1.4em;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto 24px auto;
}

h2{
  font-size: 1.2em;
}

.etudiants-lyceens{
  background-position: -375px -135px !important;
}

.service-content{
  max-width: 1280px;
  margin: 0 auto 48px auto;

  .content{
    margin-bottom: 24px;
  }

  .content-text{
    opacity: 0.9;
  }

  ul{
    margin-top: 24px;
    color: var(--color1);

    li{
      margin-bottom: 12px;
    }
  }

  .seance, .nb-seance{
    color: var(--color0);
    font-size: 14px;
  }

  .seance{
    margin-top: 48px;
  }

  .nb-seance{
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid var(--color1);
  }
}

.illustrations{
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;

  & > div{
    width: calc(50% - 4px);
    margin-right: 4px;

    & > div{
      margin-bottom: 4px;
    }
  }

  .illustrations-col-2{
    margin-left: 4px;
    margin-right: 0;
  }

  img{
    border-radius: 8px;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .etudiants-lyceens{
    background-position: -530px -245px !important;
  }

  .particuliers{
    background-position: 0 -245px !important;
  }


  h1{
    font-size: 2em;
  }

  .custom-shape-divider{
    .title-page .title{
      font-size: 2.4em;
    }
  }

  h2{
    font-size: 1.5em;
  }

  .service-content{
    @include flex(row, flex-start, flex-start);
    margin-top: 48px;

    .content{
      margin-bottom: 0;
      width: 50%;
    }

    .seance, .nb-seance{
      font-size: 16px;
    }

    .illustrations{
      margin-left: 24px;
      width: calc(50% - 24px);

      & > div{
        width: calc(50% - 10px);
        margin-right: 8px;
        margin-bottom: 4px;
      }

      .img-1{

      }
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .etudiants-lyceens{
    background-position: -30px -145px !important;
  }
  .particuliers{
    background-position: 0 -25px !important;
  }

  .custom-shape-divider{
    .title-page{
      @include maxscreen();
      align-items: flex-start;
      padding-left: 15%;
    }

    .title-page .title{
      text-align: left;
      font-size: 3em;
    }
  }
}


//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .etudiants-lyceens{
    background-position: 0 -145px !important;
  }

  h1{
    font-size: 2.5em;
  }

  .service-content {
    margin-top: 80px;
    font-size: 18px;

    .content{
      width: calc(50% - 48px);
      margin-right: 48px;
    }

    .illustrations {
      margin-left: 48px;
      width: calc(50% - 48px);
    }
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  .etudiants-lyceens{
    background-position: 0 -245px !important;
  }
}

//                      __   _  ___ ____   ___    __
//                     | _| / |/ _ \___ \ / _ \  |_ |
//    _____ _____ _____| |  | | (_) |__) | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |\__, / __/| |_| |  | |_____|_____|_____|
//                     | |  |_|  /_/_____|\___/   | |
//                     |__|                      |__|
@media (min-width: 1920px){
  .etudiants-lyceens{
    background-position: 0 -545px !important;
  }

  .particuliers{
    background-position: 0 -280px !important;
  }
}