@import "../vars/vars";

@import "../../../common/css/components/footer";

footer{
  background-color: var(--color0);

  .footer{
    .footer-logo{
      color: var(--alpha);

      img{
        width: 222px;
      }
    }
    .footer-items{
      a, span{
        color: var(--alpha);
        opacity: 0.7;
      }
    }

    .copyright{
      color: var(--alpha);
      opacity: 1;

      a{
        color: var(--alpha);
      }
    }

    .sociaux{
      margin-top: 12px;
      text-align: center;

      a{
        color: var(--alpha);
        opacity: 1;
      }
    }
  }

  .indent{
    @include flex(column, flex-start, flex-start);
    margin-left: 12px;
  }

  .footer-items-col-1, .footer-items-col-2{
    @include flex(column, flex-start, flex-start);
  }

  .footer-services{
    margin-bottom: 8px;

    span{
      display: inline-block;
      margin-bottom: 8px;
    }
  }
}

.footer-background{
  transform: translateY(16px);
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .footer{
    .footer-items{
      width: 100%;
    }
    .footer-items-col-1{
      margin-right: 12px;
      width: calc(50% - 12px);
    }
    .footer-items-col-2{
      width: 50%;
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .footer-menu{
    @include flex(row, flex-start, flex-start);
  }

  .footer{
    .footer-logo{
      @include flex(column, flex-start, flex-start);
      margin-right: 48px;
      min-width: 360px;

      span{
        display: block;
        margin-top: 12px;
      }
    }

    .footer-items:last-child{
      width: 50%;
      @include flex(column, flex-start, flex-start);
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .footer{
    .footer-logo{
      img{
        width: 280px;
      }
    }
  }
}