@import "../vars/vars";

.title-page{
  @include flex(column, center, center);
  background-color: var(--color3);
  padding: 48px 12px;

  h1, .subtitle{
    text-align: center;
  }

  h1{
    color: var(--color0);
  }

  .subtitle{
    max-width: 480px;
  }
}

.title-page-wave{
  margin-bottom: 24px;
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .title-page{
    padding: 24px 32px;
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  .main-content{
    @include maxscreen();
  }
}